@import url('/src/fonts/opensans.scss');

$general-red: #ff5d4f;
$black: #000000;
$white: #ffffff;
$gray: #616161;
$secondary-white:#FAFAFA;
$secondary-gray: #b5b5b5;
$general-blue: #85c8ee;
$secondary-blue: #d3ebf9;

$fontFamily: 'Open sans', sans-serif;